{{> user/header }}

<body>

<!-- Navigation -->
{{> user/navigation }}

<!-- Page Content -->
<div class="container">
    {{> user/messages}}

    {{{ body }}}

</div>
<!-- /.container -->
{{> user/footer }}
